<body>
    <div class="conainer">
       <div class="titulo">
            <h2> ¡Bienvenido {{user.first_name}}!</h2> 
       </div>   
        <div class="subtitulo">
            <h3>¿A donde quieres ir?</h3>
        </div>
        <div class="links">
            <div class="product-icon">
                <img src="" alt="">
                <h4><a href="/products">Productos</a></h4>
            </div>
             <div class="cart-icon">
                <img src="" alt="">
                <h4><a href="/carts/{{user.cartId}}">Carrito</a></h4>
            </div>
             <div class="profile-icon">
                <img src="" alt="">
                <h4><a href="/profile">Mi perfil</a></h4>
            </div>
        </div>
        <form  method="GET" action="/logout">
            <button type="submit">Cerrar session</button>
        </form>
    </div>
</body>