<h3>Información del personal:</h3>

<div>
    <p>Nombre: <b>{{first_name}} {{last_name}}</b></p>
    <p>Edad: <b>{{age}}</b></p>
    <p><b>Role: {{role}}</b></p>
</div>

<form method="POST" action="/api/session/login">
<input type="submit" value="Logout" />
</form>