<form method="POST" action="/api/users/register">

<label>
    Nombre:
    <input type="text" name="first_name" placeholder="Juan">
</label>
<br />

<label>
    Apellido:
    <input type="text" name="last_name" placeholder="Perez">
</label>
<br />

<label>
    Edad:
    <input type="number" name="age" placeholder="25">
</label>
<br />

<label>
    Email:
    <input type="email" name="email" placeholder="example@mail.com" value="">
</label>
<br />

<label>
    Contraseña:
    <input type="password" name="password" placeholder="*******" value="">
</label>
<br />

    <input type="submit" value="Login">
</form>

<p>Ya tienes una cuenta <a href="/login"> Inicia sesión</a></p>